// Variables of Muse scheme
// ==================================================

$sidebar-width           = hexo-config('sidebar.width') is a 'unit' ? hexo-config('sidebar.width') : 320;
$sidebar-desktop         = unit($sidebar-width, 'px');

$content-padding-bottom     = 60px;
$posts-first-padding        = 70px;
$posts-first-padding-mobile = 35px;
// =========个人设置============
$content-desktop            = 820px;  //分辨率1024*768
$content-desktop-large      = 1093px; //分辨率1366*768
$content-desktop-largest    = 1536px; //分辨率1920*1080
